{% extends "base.html" %} {% block title %}Home{% endblock %} {% block link %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="../static/css/style.css" />
{% endblock %} {% block body %}
<a
  href="{{ url_for('create') }}"
  class="btn btn-primary btn-lg active"
  role="button"
  aria-pressed="true"
  >Ajouter</a
>
<div class="row">
  <div
    class="col s6"
    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center"
  >
    {%for image in images%}

    <div class="card" style="width: 20%; margin: 20px">
      <div class="card-image">
        <img src="../static/{{image.path}}" />
        <span class="card-title">{{image.name}}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red" href="/update/{{image.path}}"><i class="material-icons">edit</i></a>
      </div>
      <div class="card-content">
        <p>Type : {{image.type}}</p>
        {%if image.with_product == True%}
        <p>Avec produit : Oui</p>
        {%else%}
        <p>Avec produit : Non</p>
        {%endif%}

        {%if image.with_human == True%}
        <p>Avec humain : Oui</p>
        {%else%}
        <p>Avec humain : Non</p>
        {%endif%}

        {%if image.institutional == True%}
        <p>Photo institutionelle : Oui</p>
        {%else%}
        <p>Photo institutionelle : Non</p>
        {%endif%}
        {%if image.tags%}
        <h5>Tags</h5>
        {%for tag in image.tags%}
        <div class="tag">{{tag}}</div>
        {%endfor%}
        {%else%}
        <h5>Tags</h5>
        <div class="no-tag">Pas de tag</div>
        {%endif%}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock body %} {% block js %}

{% endblock %}
